#nav-icon {
  width: 45px;
  height: 45px;
  position: relative;
  margin: 0;
  padding: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  overflow: hidden;
  line-height: 100%;
  background-color: transparent;
}

#nav-icon:hover,
#nav-icon:focus,
#nav-icon:active {
  border: none;
  outline: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #C09E32;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2) {
  top: 20px;
}

#nav-icon span:nth-child(3) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

@media (max-width: 410px) {
  #nav-icon {
    width: 25px;
    height: 25px;
}

  #nav-icon span {
    height: 2px;
  }

  #nav-icon span:nth-child(1) {
    top: 0;
  }

  #nav-icon span:nth-child(2) {
    top: 10px;
  }

  #nav-icon span:nth-child(3) {
    top: 20px;
  }

  #nav-icon.open span:nth-child(1),
  #nav-icon.open span:nth-child(2),
  #nav-icon.open span:nth-child(3) {
    top: 10px;
  }

}
