.burger-menu {
  width: 45px;
  height: 45px;
  position: relative;
  padding: 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
  overflow: hidden;
  line-height: 100%;
  background-color: transparent;
  margin: 10px;
}

.burger-menu:hover,
.burger-menu:focus,
.burger-menu:active {
  border: none;
  outline: none;

}

.burger-menu span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $color-2;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger-menu span:nth-child(1) {
  top: 10px;
}

.burger-menu span:nth-child(2) {
  top: 20px;
}

.burger-menu span:nth-child(3) {
  top: 30px;
}

.burger-menu.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burger-menu.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

@media (max-width: 410px) {
  .burger-menu {
    width: 25px;
    height: 25px;
  }

  .burger-menu span {
    height: 2px;
  }

  .burger-menu span:nth-child(1) {
    top: 0;
  }

  .burger-menu span:nth-child(2) {
    top: 10px;
  }

  .burger-menu span:nth-child(3) {
    top: 20px;
  }

  .burger-menu.open span:nth-child(1),
  .burger-menu.open span:nth-child(2),
  .burger-menu.open span:nth-child(3) {
    top: 10px;
  }

}
