.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: $black;
  font-family: 'Noto Sans SC', sans-serif;
  padding: 15px 25px 17px;
  border: 2px solid $color-3;
  background-color: $color-3;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
}

.button:hover,
.button:focus,
.button:active {
  background-color: $color-2;
  border: 2px solid $color-2;
  color: $white;
  opacity: 1;

}

.button--transparent {
  border: 2px solid $color-2;
  background-color: transparent;
  color: $black;
  transition: all .3s ease-in-out;
}

.button--transparent:hover,
.button--transparent:focus {
  background-color: $color-2;
  color: $white;
  opacity: 1;

}

.button--transparent:active {
  background-color: $color-2;
  color: $white;
  opacity: 0.7;

}

a:hover,
a:focus,
a:active {
  opacity: 0.7;
  transition: all .3s ease-in-out;
}

a:visited {
  opacity: 0.3;
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
    padding: 15px;
  }

}
