.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: $black;
  font-family: 'Noto Sans SC', sans-serif;
  padding: 15px 25px;
  border: 2px solid $color-3;
  background-color: $color-3;
  display: inline-block;
  max-width: 295px;
}

.button--transparent {
  border: 2px solid $color-2;
  background-color: transparent;
  color: $black;
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
    padding: 10px 15px;
  }

}
