.messengers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
}

.messengers__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
}

.messengers__link::before {
  content: "";
  background-image: url("../img/icons/telephone-icon.svg");
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  background-position: center;
  position: absolute;
}

.messengers__link--telegram::before {
  background-image: url("../img/icons/telegram-icon.svg");
}

.messengers__link--whatsapp::before {
  background-image: url("../img/icons/whatsapp-icon.svg");
}

.messengers__link--viber::before {
  background-image: url("../img/icons/viber-icon.svg");
}

.messengers__link--show {
  padding-left: 0;
}

.messengers__link--show::before {
  display: none;
}
