.messengers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: center;
}

.messengers__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
}

.messengers__link::before {
  content: "";
  background-image: url("../img/icons/icon-telephone.svg");
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  background-position: center;
  position: absolute;
}

.messengers__link--telegram::before {
  background-image: url("../img/icons/icon-telegram.svg");
}

.messengers__link--whatsapp::before {
  background-image: url("../img/icons/icon-whatsapp.svg");
}

.messengers__link--viber::before {
  background-image: url("../img/icons/icon-viber.svg");
}

.messengers__link--show {
  padding-left: 0;
}

.messengers__link--show::before {
  display: none;
}


@media (max-width: 768px) {
  .telephone__details {
    display: none;
  }

  .messengers__link--show::before {
    display: block;
  }

  .messengers__list {
    justify-content: space-around;
  }

  .messengers__link::before {
    width: 30px;
    height: 30px;
    background-size: contain;
  }

}

@media (max-width: 410px) {
  .messengers__link::before {
    width: 25px;
    height: 25px;
  }
}
