.navigation {
  position: sticky;
  top: 0;
  z-index: 111;
  background: $gray;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navigation__item {
  max-width: 180px;
}

.navigation__link {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  color: $black;
  padding: 17px 10px;
  display: inline-block;
  transition: all .3s ease-in-out;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: $color-2;
}

@media (max-width: 768px) {
  .navigation__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .navigation__item {
    max-width: 500px;
    margin: 0 auto;
  }

  .navigation__link {
    font-size: 20px;
  }


}
