.products {
  padding: 30px 0 88px;
  background-color: $white;
  color: $black;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
}

.products__item {
  max-width: 255px;
  width: 100%;
  height: 194px;
}

.products__link {
  background-image: url("../img/products/agriculture/1.jpg");
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background-position: center;
  cursor: pointer;
  /* border: 5px solid transparent; */
}

.products__link::after {
  content: "";
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.products__link:hover::after,
.products__link:active::after,
.products__link:focus::after {
  border: 5px solid #FFC81B;
}

.products__link:hover::before,
.products__link:active::before,
.products__link:focus::before {
  content: "";
  background-image: url("../img/icons/icon-arrow-yellow-down.svg");
  position: absolute;
  display: block;
  width: 44px;
  height: 33px;
  bottom: -30px;
  background-size: cover;
  background-position: center;
}

.products__name {
  font-size: 16px;
  line-height: 130%;
  color: $white;
  margin: 0;
  display: block;
  max-width: 150px;
  font-weight: bold;
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 2;
}
