 .products {
   padding: 22px 0 85px;
   background-color: $white;
   color: $black;
 }

 .products__title {
   max-width: 700px;
   margin-bottom: 50px;
 }

 @media (max-width: 768px) {
   .products {
     padding: 22px 0 25px;
   }

 }
