.products {
  padding: 30px 0 88px;
  background-color: $white;
  color: $black;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.products__item {
  max-width: 255px;
  margin: 0;
}

.products__wrapper {
  position: relative;
  margin-bottom: 50px;
}

.products__image {
  display: block;
  filter: brightness(65%);
}

.products__wrapper:hover,
.products__wrapper:focus {
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.71);
}

.products__wrapper:hover::after,
.products__wrapper:focus::after {
  content: "";
  border: 5px solid $color-3;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.products__wrapper:hover::before,
.products__wrapper:focus::before {
  content: "";
  background-image: url("../img/icons/icon-arrow-yellow-down.svg");
  position: absolute;
  display: block;
  width: 44px;
  height: 33px;
  bottom: -30px;
  background-size: cover;
  background-position: center;
}

.products__list--sub {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.products__item:hover .products__list--sub {
  opacity: 1;
  visibility: visible;
  z-index: 11;
}

.products__list--sub .products__wrapper:hover,
.products__list--sub .products__wrapper:focus {
  box-shadow: none;
}

.products__list--sub .products__wrapper:hover::before,
.products__list--sub .products__wrapper:focus::before,
.products__list--sub .products__wrapper:hover::after,
.products__list--sub .products__wrapper:focus::after {
  display: none;
}

.products__name {
  font-size: 16px;
  line-height: 130%;
  color: $white;
  margin: 0;
  display: block;
  max-width: 150px;
  font-weight: bold;
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 2;
}

.products__list--sub .products__name {
  position: initial;
  color: $black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding-top: 15px;
}

.products__list::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/background/bg-products-1-left.png");
  background-repeat: no-repeat;
  width: 216px;
  height: 226px;
  left: -199px;
  bottom: -10px;
  z-index: -1;
}

.products__list::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/background/bg-products-1-right.png");
  background-repeat: no-repeat;
  width: 192px;
  height: 123px;
  right: -75px;
  top: -80px;
  z-index: -1;
}

@media (max-width: 1100px) {

  .products__list::before,
  .products__list::after {
    display: none;
  }

  .products__item {
    max-width: 25%;
    width: 100%;
  }

  .products__name {
    font-size: 80%;
    max-width: 85%;
  }

  .products__wrapper {
    margin-bottom: 0;
  }

  .products__list--sub .products__name {
    font-size: 80%;
    padding-top: 5px;
    margin-bottom: 20px;
    max-width: 85%;
  }

  .products__wrapper:hover::before,
  .products__wrapper:focus::before {
    display: none;
  }

  .products__list--sub {
    justify-content: flex-start;
  }

  .products__list--sub .products__item {
    padding: 10px 5px 5px;
    max-width: 20%;
  }

}

@media (max-width: 768px) {
  .products__name {
    font-size: 60%;
    left: 10px;
    bottom: 15px;
  }

}

@media (max-width: 410px) {
  .products__item {
    max-width: 49%;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .products__wrapper {
    max-width: 100%;
    max-height: 100%;
  }

  .products__wrapper:focus::after,
  .products__wrapper:hover::after {
    border: none;
  }

  .products__name {
    font-size: 50%;
    left: 10px;
    bottom: 10px;
  }

  .products__item:hover .products__list--sub {
    background-color: $white;
  }

  .products__list--sub {
    margin-top: 70px;
  }

  .products__list--sub .products__name {
    font-size: 60%;
  }

  .products__list--sub .products__item {
    overflow: visible;
    min-height: 55px;
  }

}
