.first-screen {
  background-color: $color-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background/bg-first-screen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 85px 0 135px;
  position: relative;
  margin-bottom: -5px;
}

.first-screen__wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.first-screen__details {
  max-width: 730px;
}

.first-screen__title {
  max-width: 100%;
  font-weight: 900;
  font-size: 50px;
  line-height: 120%;
  color: $white;
  margin: 0;
  margin-bottom: 40px;
}

.first-screen__benefits {
  max-width: 300px;
  padding-top: 5px;
}

.first-screen__promo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.first-screen__text {
  font-weight: bold;
  font-size: 16px;
  color: $white;
  max-width: 200px;
  margin: 0;
  margin-right: 85px;
}

.first-screen__button {
  max-width: 270px;
  padding: 20px 30px 27px;
  width: 100%;
}

@media (max-width: 1200px) {
  .first-screen {
    padding-bottom: 50px;
  }

  .first-screen__details {
    max-width: 590px;
  }

  .first-screen__title {
    font-size: 40px;
  }

  .first-screen__button {
    max-width: 240px;
    padding: 15px 20px;
  }

}

@media (max-width: 1000px) {
  .first-screen {
    padding-bottom: 25px;
    padding-top: 40px;
  }

  .first-screen__wrapper {
    justify-content: space-around;
  }

  .first-screen__title {
    font-size: 30px;
    margin: 0 0 20px;
  }

  .first-screen__text {
    font-weight: 400;
    font-size: 14px;
    max-width: 190px;
    margin: 0 30px 0 0;
  }

  .first-screen__button {
    max-width: 210px;
    padding: 10px 15px;
    font-size: 14px;
  }

  .first-screen__benefits {
    max-width: 250px;
  }

}

@media (max-width: 768px) {
  .first-screen__details {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .first-screen__benefits {
    max-width: 100%;
  }

}

@media (max-width: 470px) {
  .first-screen__promo {
    flex-direction: column;
    align-items: flex-start;
  }

  .first-screen__text {
    max-width: 285px;
    margin: 0;
    margin-bottom: 10px;
  }

  .first-screen__title {
    font-size: 25px;
  }

}
