.footer {
  background-color: #5c5c5c;
  color: $white;
  padding: 45px 0 20px;
  background-color: #5c5c5c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234f4f4f' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.footer p {
  margin: 0;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  max-width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer__item:nth-child(1) img {
  margin-bottom: 20px;
}

.footer__logo-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
}

.footer a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

.footer li {
  margin-bottom: 10px;
}

.footer__details-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__title {
  margin: 0;
  margin-bottom: 10px;
}

@media (max-width: 1150px) {
  .footer {
    padding: 35px 0 20px;
  }

  .footer__item {
    max-width: 32%;
  }

}

@media (max-width: 750px) {

  .footer__list {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }

  .footer .footer__item {
    max-width: 100%;
    padding: 10px 0 12px;
    border-bottom: 1px solid $white;
  }

  .footer__title {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
    padding-left: 30px;
    cursor: pointer;
  }

  .footer__title::before,
  .footer__title::after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: $white;
    display: block;
    position: absolute;
    top: 10px;
    transition: all 0.3s ease 0s;
  }

  .footer__title::before {
    transform: rotate(40deg);
    left: 0;
  }

  .footer__title::after {
    transform: rotate(-40deg);
    left: 7px;
  }

  .footer__details-item {
    display: none;
    margin-bottom: 10px;
  }

  .footer__title.active::before,
  .footer__title.active::after {
    background-color: $color-3;
  }

  .footer__title.active::before {
    transform: rotate(-40deg);
  }

  .footer__title.active::after {
    transform: rotate(40deg);
  }

  .footer__list {
    justify-content: space-around;
  }

  .footer__item {
    max-width: 45%;
  }


}
