.form {
  padding: 50px 0 40px;
  background-color: $color-4;
}

.form .container {
  max-width: 900px;
}

.form__title {
  margin-bottom: 25px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.form__wrapper {
  display: block;
  margin-bottom: 15px;
  max-width: 700px;
  margin: 0 auto;
}

.form__item {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
}

.form__label {
  display: block;
  max-width: 70%;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  color: $black;
}

.write-us__input,
.write-us__input--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  display: block;
  width: 100%;
  padding: 16px 20px;
  letter-spacing: 0;
  opacity: .4;
  color: #464646;
  border: 3px solid transparent;
  outline: 0;
  background-color: #ebebeb;
}

.write-us__input:hover,
.write-us__input:active,
.write-us__input--text:hover,
.write-us__input--text:active {
  opacity: 0.8;
}

.form__item:last-child {
  width: 100%;
  max-width: 100%;
}

.form .write-us__button {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  .form__item {
    max-width: 90%;
  }
}
