.header {
  background: $gray;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.07);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0;
}

.header__logo {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__image {
  max-width: 180px;
}

.header__logo-description {
  font-size: 12px;
  line-height: 16px;
  max-width: 135px;
  margin-left: 35px;
}

.header__telephone {
  max-width: 180px;
  width: 100%;
}

.header__messengers {
  max-width: 230px;
  width: 100%;
}

.header__button {
  max-width: 220px;
}

.header__burger {
  max-width: 45px;
}

.header__link {
  max-width: 100%;
  padding: 12px 40px;
}

.header__navigation {
  max-width: 100%;
  width: 100%;
}


@media (max-width: 1200px) {
  .header__logo {
    max-width: 175px;
  }

  .header__image {
    max-width: 100%;
    height: auto;
  }

  .header__logo-description,
  .header__telephone {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__wrapper {
    padding: 10px 0;
  }

  .header__messengers {
    max-width: 100px;
  }

  .header__navigation,
  .header__button {
    display: none;
  }

  .header__logo {
    max-width: 140px;
  }

}

@media (max-width: 410px) {
  .header__logo {
    max-width: 100px;
  }

  .header__messengers {
    max-width: 90px;
  }

  .header__button {
    max-width: 25px;
  }

}
