.modal--show {
  display: block;
  animation: bounce .6s;
}

.modal__button-close {
  font-size: 0;
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: .5;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

.modal__button-close::after,
.modal__button-close::before {
  position: absolute;
  top: 26px;
  left: 14px;
  width: 50%;
  height: 2px;
  content: "";
  background-color: $black;
}

.modal__button-close::after {
  transform: rotate(-45deg);
}

.modal__button-close::before {
  transform: rotate(45deg);
}

.modal .products__item {
  max-width: 24%;
  margin: 0;
}

.modal .products__list::before,
.modal .products__list::after {
  display: none;
}

.modal .products__name {
  color: $black;
  position: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 5px 0;
}

.modal .products__wrapper {
  margin-bottom: 10px;
}

.modal .title {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .modal__button-close {
    top: 10px;
    right: 10px;
    width: 40px;
    height: 30px;
  }

  .modal__button-close::after,
  .modal__button-close::before {
    top: 14px;
    left: 8px;
    width: 60%;
  }

  .modal .products__item {
    max-width: 30%;
  }

  .modal .title {
    margin-bottom: 15px;
  }

}

@media (max-width: 450px) {
  .modal .products__name {
    font-size: 12px;
  }

}

/* Свят */
.modal-container,
.overlay_popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  z-index: 120;
  height: 100%;
}

.modal-container {
  bottom: 0;
  overflow: auto;
  z-index: 70;
  background-color: rgba(0, 0, 0, .4);

  &__container {
    display: table;
    width: 100%;
    max-height: 100%;
    height: 100%;
  }

  &__wrapper {
    display: table-cell;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    vertical-align: middle;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    height: 100%;
  }
}

.overlay_popup {
  background-color: rgba(0, 0, 0, .8);
  z-index: 73;
  height: 100%;
  z-index: 1111;
}

.modal-callback .my-modal {
  max-width: 732px;
  padding: 75px 95px;
}

.modal-callback .modal__container {
  margin-bottom: 26px;
}

.modal-callback .write-us__label {
  margin-bottom: 10px;
}

.my-modal {
  background-color: #fff;
  background-clip: padding-box;
  z-index: 75;
  position: relative;
  top: calc(50% - 290px);
  display: inline-block;
  margin: 0 auto 0;
  width: 100%;
  max-width: 60%;
  padding: 25px 40px 40px;
  box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.2);
  text-align: left;

  .products {
    &__list {
      margin: 0 -16px -32px;
      max-width: inherit;
      justify-content: flex-start;

      &::before,
      &::after {
        display: none;
      }
    }

    &__item {
      padding: 0 16px;
      width: 25%;
      max-width: inherit;
      margin-bottom: 32px;
    }

    &__image {
      width: 100%;
      margin-bottom: 15px;
    }

    &__name {
      position: static;
      color: #000;
      font-weight: 400;
    }
  }

  &__title {
    margin-bottom: 32px;
  }

  &__close {
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: 100%;
    bottom: 100%;
    background-color: #ffc81b;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      right: calc(50% - 1px);
      bottom: 10px;
      width: 2px;
      background-color: #282E33;
      transition: all 0.3s ease-in-out;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: calc(50% - 1px);
      bottom: 10px;
      width: 2px;
      background-color: #282E33;
      transition: all 0.3s ease-in-out;
      transform: rotate(-45deg);
    }

  }
}

@media (max-width: 768px) {
  .my-modal {
    top: calc(85% - 290px);
  }

  .my-modal .products__item {
    width: 33%;
    padding: 0 5px;
    margin-bottom: 5px;
  }

  .my-modal .products__image {
    margin-bottom: 0;
  }

  .modal .products__name {
    font-size: 12px;
  }

  .my-modal .products__list {
    margin: 0;
  }

  .modal .title {
    margin-bottom: 12px;
    font-size: 20px;
  }

}

@media (max-width: 500px) {
  .modal .title {
    font-size: 14px;
  }

  .my-modal {
    max-width: 85%;
    padding: 30px;
  }

  .my-modal__close {
    left: 90%;
    bottom: 90%;
    width: 30px;
    height: 30px;
  }

  .modal .products__wrapper {
    margin-bottom: 0;
  }

}

@media (max-width: 400px) {
  .my-modal {
    max-width: 100%;
    padding: 15px;
  }

  .my-modal__close {
    bottom: 103%;
  }
}
