.sorting-lines {
  background-color: $gray;
  padding: 50px 0 0;
  background-image: url("../img/background/bg-line-1.jpg");
  min-height: 800px;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.sorting-lines--two {
  background-image: url("../img/background/bg-line-2.jpg");
}

.sorting-lines .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.sorting-lines__content {
  max-width: 780px;
  margin-bottom: 40px;
}

.sorting-lines__button {
  max-width: 265px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .sorting-lines {
    background-size: contain;
    min-height: 630px;
  }
}

@media (max-width: 768px) {
  .sorting-lines {
    display: none;
  }

}
