.video-gallery {
  background-color: $color-1;
}

.video-gallery__list {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.video-gallery__item {
  background-image: url("../img/background/bg-video-gallery-item-1.jpg");
  color: $white;
  max-width: 35%;
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* .video-gallery__item::after {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
} */

.video-gallery__item::before {
  content: "";
  display: block;
  width: 23px;
  height: 25px;
  background-image: url("../img/icons/icon-arrow-white.svg");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  bottom: 45px;
  z-index: 2;
}

.video-gallery__item:hover::before,
.video-gallery__item:focus::before,
.video-gallery__item:active::before {
  background-image: url("../img/icons/icon-arrow-yellow.svg");
}

.video-gallery__item:nth-child(2) {
  background-image: url("../img/background/bg-video-gallery-item-2.jpg");
}

.video-gallery__item:nth-child(3) {
  background-image: url("../img/background/bg-video-gallery-item-3.jpg");
}

.video-gallery__title {
  font-size: 20px;
  line-height: 130%;
  color: $white;
  margin: 100px auto 35px 35px;
  display: block;
  max-width: 200px;
  font-weight: 700;
  z-index: 2;
  position: relative;
}

.video-gallery__item:hover .video-gallery__title,
.video-gallery__item:focus .video-gallery__title,
.video-gallery__item:active .video-gallery__title {
  color: $color-3;
}

@media (max-width: 768px) {
  .video-gallery {
    display: none;
  }
}
