html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
}

/* Служебные стили */
.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.body {
  font-family: 'Noto Sans SC', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: $black;
  background-color: $white;
}

.container {
  max-width: 1200px;
  padding: 0 45px;
  margin: 0 auto;
}

.desktop-hide {
  display: none;
}

.hide {
  font-size: 0;
  line-height: 0;
  opacity: 0;
}

.none-scroll {
  overflow: hidden;
  padding-right: 17px;
}

.smartquiz__copyright {
  display: none !important;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}

@media (max-width: 1024px) {
  .none-scroll {
    padding: 0;
    padding-right: 0 !important;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .desktop-hide {
    display: inline-block;
  }
}
