.agree {
	display: none;
}

label.error {
	display: none !important;
}

textarea.error,
select.error,
input.error {
	background: rgba(255, 0, 0, .21) !important;
}

.header__burger {
	z-index: 1000 !important;
}

@media (max-width: 768px) {

	.header {
		z-index: 600;
	}

	.header__navigation {
		position: fixed;
		top: -500px;
		opacity: 0;
		display: block;
		z-index: 600;
		transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		/* FF 4 */
		-webkit-transition: all 0.5s ease-in-out;
		/* Safari & Chrome */
		-o-transition: all 0.5s ease-in-out;
		/* Opera */
	}

	.header__navigation_mobile {
		top: 65px;
		opacity: 1;
  }

  .header__navigation_mobile .navigation__list {
    padding: 55px 0;
  }


}
