/* normalize.scss */
@import "normalize.scss";

/* Глобальные стили */
@import "swiper-style.scss";
@import "fm.revealator.jquery.scss";
@import "variables.scss";
@import "global.scss";

/* BEM Блоки */
@import "blocks/telephone.scss";
@import "blocks/messengers.scss";
@import "blocks/button.scss";
@import "blocks/navigation.scss";
@import "blocks/slider-top.scss";
@import "blocks/benefits.scss";
@import "blocks/title.scss";
@import "blocks/progress-bar.scss";
@import "blocks/burger-menu.scss";

/* Секции */
@import "sections/header.scss";
@import "sections/first-screen.scss";
@import "sections/video-gallery.scss";
@import "sections/products.scss";
@import "sections/sorting-lines.scss";
@import "sections/technologies.scss";
@import "sections/modals.scss";
@import "sections/profit.scss";
@import "sections/sale.scss";
@import "sections/test.scss";
@import "sections/steps.scss";
@import "sections/form.scss";
@import "sections/footer.scss";
@import "sections/developers.scss";


@import "mishka.scss";
