/* normalize.scss */
@import "normalize.scss";

/* Глобальные стили */
@import "variables.scss";
@import "global.scss";

/* BEM Блоки */
@import "blocks/telephone.scss";
@import "blocks/messengers.scss";
@import "blocks/button.scss";
@import "blocks/navigation.scss";
@import "blocks/burger-menu.scss";
@import "blocks/slider-top.scss";
@import "blocks/benefits.scss";
@import "blocks/title.scss";

/* Секции */
@import "sections/header.scss";
@import "sections/first-screen.scss";
@import "sections/video-gallery.scss";
@import "sections/products.scss";
@import "sections/sorting-lines.scss";
@import "sections/technologies.scss";
@import "sections/modals.scss";

